<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhulang.waveedu.sms.dao.UserMapper">
    <select id="selectPhoneById" resultType="java.lang.String">
        SELECT phone
        FROM basic_user
        WHERE `id` = #{id}
          AND is_deleted = 0
          AND `status` = 0
    </select>
</mapper>