<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.CommonHomeworkQuestionMapper">

    <select id="selectHomeworkIsPublishAndCreatorIdAndCommonHomeworkIdById" resultType="java.util.Map">
        SELECT h.`is_publish`,
               h.`creator_id`,
               q.`common_homework_id` AS `homeworkId`
        FROM `edu_common_homework_question` q,
             `edu_lesson_class_common_homework` h
        WHERE q.`id` = #{id}
          AND q.`common_homework_id` = h.`id`
    </select>
    <select id="selectHomeworkIsPublishAndCreatorIdAndTypeAndHomeworkIdById" resultType="java.util.Map">
        SELECT h.`is_publish`,
               h.`creator_id`,
               h.`type`,
               h.`id` AS `homeworkId`
        FROM `edu_common_homework_question` q,
             `edu_lesson_class_common_homework` h
        WHERE q.`id` = #{id}
          AND q.`common_homework_id` = h.`id`
    </select>
    <select id="selectTotalScoreByCommonHomeworkId" resultType="java.lang.Integer">
        SELECT IFNULL(SUM(score), 0) AS `totalScore`
        FROM `edu_common_homework_question`
        WHERE `common_homework_id` = #{commonHomeworkId}
    </select>
    <select id="selectHomeworkQuestionSimpleInfoList"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.HomeworkQuestionSimpleInfoQuery">
        SELECT `id`, `type`, `problem_desc`, `score`
        FROM `edu_common_homework_question`
        WHERE `common_homework_id` = #{homeworkId}
        ORDER BY `create_time`
    </select>
    <select id="selectHomeworkQuestionDetailInfoList"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.HomeworkQuestionDetailInfoQuery">
        SELECT `id`, `type`, `problem_desc`, `score`, `answer`, `analysis`
        FROM `edu_common_homework_question`
        WHERE `common_homework_id` = #{homeworkId}
        ORDER BY `create_time`
    </select>
    <select id="selectQuestionDetailAndSelfAnswerWithoutScore"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.QuestionDetailAndSelfAnswerWithoutScoreQuery">
        SELECT q.`id`,
               q.`type`,
               q.`problem_desc`,
               q.`answer` AS `suggestAnswer`,
               q.`analysis`,
               q.`score`  AS `fullScore`,
               a.`answer` AS `stuAnswer`
        FROM `edu_common_homework_question` q,
             `edu_common_homework_stu_answer` a
        WHERE q.`common_homework_id` = #{homeworkId}
          AND a.`stu_id` = #{stuId}
          AND q.`id` = a.`question_id`
    </select>
    <select id="selectQuestionSimpleAndSelfAnswerWithoutScore"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.QuestionSimpleAndSelfAnswerWithoutScoreQuery">
        SELECT q.`id`,
               q.`type`,
               q.`problem_desc`,
               q.`score`  AS `fullScore`,
               a.`answer` AS `stuAnswer`
        FROM `edu_common_homework_question` q,
             `edu_common_homework_stu_answer` a
        WHERE q.`common_homework_id` = #{homeworkId}
          AND a.`stu_id` = #{stuId}
          AND q.`id` = a.`question_id`
    </select>
    <select id="selectQuestionDetailAndSelfAnswerWithScore"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.QuestionDetailAndSelfAnswerWithScoreQuery">
        SELECT q.`id`,
               q.`type`,
               q.`problem_desc`,
               q.`answer` AS `suggestAnswer`,
               q.`analysis`,
               q.`score`  AS `fullScore`,
               a.`answer` AS `stuAnswer`,
               a.`score`  AS `stuScore`
        FROM `edu_common_homework_question` q,
             `edu_common_homework_stu_answer` a
        WHERE q.`common_homework_id` = #{homeworkId}
          AND a.`stu_id` = #{stuId}
          AND q.`id` = a.`question_id`
    </select>
    <select id="selectQuestionSimpleAndSelfAnswerWithScore"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.QuestionSimpleAndSelfAnswerWithoutScoreQuery">
        SELECT q.`id`,
               q.`type`,
               q.`problem_desc`,
               q.`score`  AS `fullScore`,
               a.`answer` AS `stuAnswer`,
               a.`score`  AS `stuScore`
        FROM `edu_common_homework_question` q,
             `edu_common_homework_stu_answer` a
        WHERE q.`common_homework_id` = #{homeworkId}
          AND a.`stu_id` = #{stuId}
          AND q.`id` = a.`question_id`
    </select>
    <select id="selectHomeworkIdAndTypeAndEndTimeAndIsPublishById"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.HomeworkIdAndTypeAndEndTimeAndIsPublishQuery">
        SELECT h.`id`         AS `homeworkId`,
               h.`type`       AS `homeworkType`,
               h.`end_time`   AS `endTime`,
               h.`is_publish` AS `isPublish`
        FROM `edu_common_homework_question` q,
             `edu_lesson_class_common_homework` h
        WHERE q.`id` = #{id}
          AND q.`common_homework_id` = h.`id`
    </select>
    <select id="isHomeworkCreatorByQuestionIdAndUserId" resultType="java.lang.Integer">
        SELECT 1
        FROM `edu_common_homework_question` q,
             `edu_lesson_class_common_homework` h
        WHERE q.`id` = #{questionId}
          AND q.`common_homework_id` = h.`id`
          AND h.`creator_id` = #{userId}
    </select>
    <select id="selectHomeworkIdByQuestionId" resultType="java.lang.Integer">
        SELECT `common_homework_id`
        FROM `edu_common_homework_question`
        WHERE `id` = #{questionId}
    </select>
    <select id="selectHomeworkIdByQuestionIds" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT common_homework_id)
        FROM `edu_common_homework_question`
        WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>
