<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.CommonHomeworkQuestionMapper">

    <select id="selectHomeworkIsPublishAndCreatorIdAndCommonHomeworkIdById" resultType="java.util.Map">
        SELECT h.`is_publish`,
               h.`creator_id`,
               q.`common_homework_id` AS `homeworkId`
        FROM `edu_common_homework_question` q,
             `edu_lesson_class_common_homework` h
        WHERE q.`id` = #{id}
          AND q.`common_homework_id` = h.`id`
    </select>
    <select id="selectHomeworkIsPublishAndCreatorIdAndTypeAndHomeworkIdById" resultType="java.util.Map">
        SELECT h.`is_publish`,
               h.`creator_id`,
               h.`type`,
               h.`id` AS `homeworkId`
        FROM `edu_common_homework_question` q,
             `edu_lesson_class_common_homework` h
        WHERE q.`id` = #{id}
          AND q.`common_homework_id` = h.`id`
    </select>
    <select id="selectTotalScoreByCommonHomeworkId" resultType="java.lang.Integer">
        SELECT IFNULL(SUM(score), 0) AS `totalScore`
        FROM `edu_common_homework_question`
        WHERE `common_homework_id` = #{commonHomeworkId}
    </select>
    <select id="selectTchHomeworkQuestionSimpleInfoList"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.TchHomeworkQuestionSimpleInfoQuery">
        SELECT `id`, `type`, `problem_desc`, `score`
        FROM `edu_common_homework_question`
        WHERE `common_homework_id` = #{homeworkId}
        ORDER BY `create_time`
    </select>
    <select id="selectTchHomeworkQuestionDetailInfoList"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.TchHomeworkQuestionDetailInfoQuery">
        SELECT `id`, `type`, `problem_desc`, `score`, `answer`, `analysis`
        FROM `edu_common_homework_question`
        WHERE `common_homework_id` = #{homeworkId}
        ORDER BY `create_time`
    </select>
</mapper>
