<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.CommonHomeworkQuestionMapper">

    <select id="selectHomeworkIsPublishAndCreatorIdById" resultType="java.util.Map">
        SELECT h.`is_publish`, h.`creator_id`
        FROM `edu_common_homework_question` q,
             `edu_lesson_class_common_homework` h
        WHERE q.`id` = #{id}
          AND q.`common_homework_id` = h.`id`
    </select>
    <select id="selectHomeworkIsPublishAndCreatorIdAndTypeById" resultType="java.util.Map">
        SELECT h.`is_publish`, h.`creator_id`, h.`type`
        FROM `edu_common_homework_question` q,
             `edu_lesson_class_common_homework` h
        WHERE q.`id` = #{id}
          AND q.`common_homework_id` = h.`id`
    </select>
    <select id="selectTotalScoreByCommonHomeworkId" resultType="java.lang.Integer">
        SELECT SUM(score)
        FROM `edu_common_homework_question`
        WHERE `common_homework_id` = #{commonHomeworkId}
    </select>
</mapper>
