<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.LessonClassMapper">
    <update id="updateNumOfDynamic">
        UPDATE `edu_lesson_class`
        SET `num` = `num` ${change}
        WHERE `id` = #{classId}
    </update>

    <select id="existsByClassIdAndUserId" resultType="java.lang.Integer">
        SELECT 1
        FROM `edu_lesson_class`
        WHERE `id` = #{id}
          AND `creator_id` = #{userId}
          AND `is_deleted` = 0
    </select>
    <select id="selectBasicInfo" resultType="com.zhulang.waveedu.edu.query.classquery.ClassBasicInfoQuery">
        SELECT `creator_id`, `name`, `cover`, `num`, `is_end_class`, `lesson_id`, `create_time`
        FROM `edu_lesson_class`
        WHERE `id` = #{id}
          AND `is_deleted` = 0
    </select>
    <select id="selectInviteCodeById" resultType="com.zhulang.waveedu.edu.query.classquery.LessonClassInviteCodeQuery">
        SELECT `invite_code`, `is_forbid_join`, `lesson_id`
        FROM `edu_lesson_class`
        WHERE `id` = #{id}
          AND `is_deleted` = 0
    </select>
    <select id="isCreatorByUserIdOfClassId" resultType="java.lang.Integer">
        SELECT 1
        FROM `edu_lesson_class`
        WHERE `id` = #{id}
          AND `creator_id` = #{userId}
    </select>
    <select id="selectCreateClassInfoList"
            resultType="com.zhulang.waveedu.edu.query.classquery.CreateLessonClassInfoQuery">
        SELECT c.`id` AS `classId`,
        c.`name` AS `className`,
        c.`num` AS `classNum`,
        l.`cover` AS `lessonCover`,
        l.`name` AS `lessonName`,
        l.`id` AS `lessonId`
        FROM `edu_lesson_class` c,`edu_lesson` l
        WHERE c.`creator_id` = #{creatorId}
        AND c.`is_end_class` = #{isEndClass}
        AND c.`lesson_id` = l.`id`
        <if test="classId != null">
            AND c.`id` &lt; #{classId}
        </if>
        AND c.`is_deleted` = 0
        AND l.`is_deleted` = 0
        ORDER BY c.`create_time` DESC
        LIMIT #{limitQuery}
    </select>
    <select id="selectLessonAllClassInfoList" resultType="com.zhulang.waveedu.edu.query.classquery.LessonClassInfoQuery">
        SELECT c.`id`,
               c.`name`,
               c.`num`,
               c.`is_end_class`,
               c.`is_forbid_join`,
               c.`create_time`,
               c.`invite_code`,
               i.`name` AS `creatorName`
        FROM `edu_lesson_class` c,
             `basic_user_info` i
        WHERE c.`lesson_id` = #{lessonId}
          AND c.`creator_id` = i.`id`
          AND c.`is_deleted` = 0
        ORDER BY c.`create_time` DESC
    </select>
    <select id="selectLessonSelfAllClassInfoList"
            resultType="com.zhulang.waveedu.edu.query.classquery.LessonSelfClassInfoQuery">
        SELECT `id`,
               `name`,
               `num`,
               `is_end_class`,
               `is_forbid_join`,
               `create_time`,
               `invite_code`
        FROM `edu_lesson_class`
        WHERE `lesson_id` = #{lessonId}
          AND `creator_id` = #{creatorId}
          AND `is_deleted` = 0
        ORDER BY `create_time` DESC
    </select>
    <select id="selectIsEndClassById" resultType="java.lang.Integer">
        SELECT `is_end_class`
        FROM `edu_lesson_class`
        WHERE `id` = #{id}
    </select>
    <select id="selectLessonNameAndCreatorIdById" resultType="java.util.Map">
        SELECT l.`name`, a.`creator_id`
        FROM `edu_lesson_class` a,
             `edu_lesson` l
        WHERE a.`id` = #{id}
          AND a.`is_deleted` = 0
          AND a.`lesson_id` = l.`id`
          AND l.`is_deleted` = 0
    </select>
</mapper>
