<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.LessonClassProgramHomeworkMapper">
    <update id="updateNumById">
        UPDATE `edu_lesson_class_program_homework`
        SET `num` = (SELECT COUNT(*) FROM `edu_program_homework_problem` WHERE `homework_id` = #{homeworkId})
        WHERE `id` = #{homeworkId}
    </update>

    <select id="selectIsPublishByHomeworkIdAndCreatorId" resultType="java.lang.Integer">
        SELECT `is_publish`
        FROM `edu_lesson_class_program_homework`
        WHERE `id` = #{homeworkId}
          AND `creator_id` = #{creatorId}
    </select>
    <select id="existsByHomeworkIdAndCreatorId" resultType="java.lang.Integer">
        SELECT 1
        FROM `edu_lesson_class_program_homework`
        WHERE `id` = #{homeworkId}
          AND `creator_id` = #{creatorId}
    </select>
    <select id="selectTchHomeworkInfoList"
            resultType="com.zhulang.waveedu.edu.query.programhomeworkquery.TchSimpleHomeworkInfoQuery">
        SELECT `id`,`title`,`num`,`is_publish` AS `status`,`end_time`
        FROM `edu_lesson_class_program_homework`
        WHERE `class_id` = #{classId}
        <if test="status!=null">
            AND `is_publish` = #{status}
        </if>
        <if test="status!=null and status==1">
            AND `end_time` &gt; NOW()
        </if>
        ORDER BY `create_time` DESC
    </select>
</mapper>
