<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.LessonClassCommonHomeworkMapper">

    <select id="selectCreatorIdById" resultType="java.lang.Long">
        SELECT `creator_id`
        FROM `edu_lesson_class_common_homework`
        WHERE `id` = #{id}
    </select>
</mapper>
