<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.LessonFileMapper">
    <update id="updateDownloadCountOfInsertOne">
        UPDATE `edu_lesson_file`
        SET `download_count` = `download_count` + 1
        WHERE `id` = #{id}
    </update>

    <select id="selectLessonIdById" resultType="java.lang.Long">
        SELECT lesson_id
        FROM `edu_lesson_file`
        WHERE `id` = #{id}
    </select>
    <select id="selectSimpleInfoList" resultType="com.zhulang.waveedu.edu.query.LessonFileSimpleInfoQuery">
        SELECT `id`, `file_name`, `file_type`, `file_format`, `file_format_size`, `create_time`
        FROM `edu_lesson_file`
        WHERE `lesson_id` = #{lessonId}
        <if test="fileId != null">
            AND `id` > #{fileId}
        </if>
        ORDER BY `create_time` DESC
        LIMIT #{queryLimit}
    </select>
    <select id="selectDetailInfoList" resultType="com.zhulang.waveedu.edu.query.LessonFileDetailInfoQuery">
        SELECT e.`id`,
        e.`file_name`,
        e.`file_type`,
        e.`file_format`,
        e.`file_format_size`,
        e.`create_time`,
        e.`download_count`,
        e.`user_id`,
        b.`name` AS `userName`
        FROM `edu_lesson_file` e,`basic_user_info` b
        WHERE e.`lesson_id` = #{lessonId}
        <if test="fileId != null">
            AND e.`id` > #{fileId}
        </if>
        AND b.`id` = e.`user_id`
        ORDER BY e.`create_time` DESC
        LIMIT #{queryLimit}
    </select>
    <select id="selectDownloadCount" resultType="java.lang.Integer">
        SELECT `download_count`
        FROM `edu_lesson_file`
        WHERE `id` = #{id}
    </select>
</mapper>
