<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.LessonClassCommonHomeworkMapper">
    <update id="updateTotalScore">
        UPDATE `edu_lesson_class_common_homework`
        SET `total_score` = (SELECT IFNULL(SUM(score), 0)
                             FROM `edu_common_homework_question`
                             WHERE `common_homework_id` = #{id})
        WHERE `id` = #{id}
    </update>
    <update id="updateCommitNumOfAddOne">
        UPDATE `edu_lesson_class_common_homework`
        SET commit_num = commit_num + 1
        WHERE id = #{id}
    </update>

    <select id="selectCreatorIdById" resultType="java.lang.Long">
        SELECT `creator_id`
        FROM `edu_lesson_class_common_homework`
        WHERE `id` = #{id}
    </select>
    <select id="selectTchHomeworkSimpleListInfo"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.TchHomeworkSimpleInfoQuery">
        SELECT `id`,
        `title`,
        IF(is_publish != 1, is_publish, IF(`end_time` = NOW(), 1, 3)) AS `status`
        FROM `edu_lesson_class_common_homework`
        WHERE `lesson_class_id` = #{classId}
        <if test="isPublish!=null">
            AND `is_publish` = #{isPublish}
        </if>
        ORDER BY `create_time` DESC
    </select>
    <select id="existsByIdAndCreatorId" resultType="java.lang.Integer">
        SELECT 1
        FROM `edu_lesson_class_common_homework`
        WHERE `id` = #{id}
          AND `creator_id` = #{creatorId}
    </select>
    <select id="selectTchHomeworkDetailInfo"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.TchHomeworkDetailInfoQuery">
        SELECT h.*, c.`num` AS `classStuNum`
        FROM `edu_lesson_class_common_homework` h,
             `edu_lesson_class` c
        WHERE h.`id` = #{id}
          AND h.`lesson_class_id` = c.`id`
          AND c.`is_deleted` = 0
    </select>
    <select id="selectStuHomeworkSimpleInfoList"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.StuHomeworkSimpleInfoQuery">
        SELECT h.`id`, h.`title`, h.`difficulty`, h.`end_time`, s.`status`
        FROM `edu_lesson_class_common_homework` h
                 LEFT JOIN `edu_common_homework_stu_score` s
                           ON h.`id` = s.`homework_id`
                               AND s.`stu_id` = #{stuId}
        WHERE h.`lesson_class_id` = #{classId}
          AND h.`is_publish` = 1
        ORDER BY h.`create_time` DESC
    </select>
    <select id="isClassStuByIdAndStuId" resultType="java.lang.Integer">
        SELECT 1
        FROM `edu_lesson_class_common_homework` h,
             `edu_lesson_class_stu` s
        WHERE h.`id` = #{id}
          AND h.`lesson_class_id` = s.`lesson_class_id`
          AND s.`stu_id` = #{stuId}
    </select>
    <select id="selectStuHomeworkDetailInfo"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.StuHomeworkDetailInfoQuery">
        SELECT h.`type`,
               h.`title`,
               h.`difficulty`,
               h.`total_score`,
               h.`start_time`,
               h.`end_time`,
               s.`status`,
               s.`score` AS `stuScore`,
               s.`comment`
        FROM `edu_lesson_class_common_homework` h
                 LEFT JOIN `edu_common_homework_stu_score` s
                           ON h.`id` = s.`homework_id`
        WHERE h.`id` = #{id}
          AND h.`is_publish` = 1
    </select>
    <select id="selectStuHomeworkStatus"
            resultType="com.zhulang.waveedu.edu.query.homeworkquery.StuHomeworkStatusQuery">
        SELECT s.`status`, h.`is_complete_after_explain`, h.`is_end_after_explain`, h.`end_time`
        FROM `edu_lesson_class_common_homework` h
                 LEFT JOIN `edu_common_homework_stu_score` s
                           ON h.`id` = s.`homework_id`
                               AND s.`stu_id` = #{stuId}
        WHERE h.`id` = #{id}
          AND h.`is_publish` = 1
    </select>
</mapper>
