<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.LessonClassAttendMapper">

    <select id="selectLessonClassIdById" resultType="java.lang.Long">
        SELECT `lesson_class_id`
        FROM `edu_lesson_class_attend`
        WHERE `id` = #{id}
    </select>

    <resultMap id="classPlanResultMap" type="com.zhulang.waveedu.edu.query.ClassWeekPlanQuery">
        <id column="week" property="week"/>
        <collection property="times" ofType="com.zhulang.waveedu.edu.query.ClassAttendDayTimeQuery">
            <id column="id" property="id"/>
            <result column="lesson_name" property="lessonName"/>
            <result column="time" property="time"/>
        </collection>
    </resultMap>
    <select id="selectClassPlan" resultMap="classPlanResultMap">
        SELECT `week`, `id`, `time`, `lesson_name`
        FROM `edu_lesson_class_attend`
        WHERE `lesson_class_id` = #{classId}
        ORDER BY `week`, `time`
    </select>
    <resultMap id="tchPlanResultMap" type="com.zhulang.waveedu.edu.query.EveryTimeTchPlanQuery">
        <result column="week" property="week"/>
        <result column="time" property="time"/>
        <collection property="planLessons" ofType="com.zhulang.waveedu.edu.query.EveryTimeTchPlanQuery$PlanLesson">
            <result column="className" property="className"/>
            <result column="lessonName" property="lessonName"/>
        </collection>
    </resultMap>
    <select id="selectTchPlan" resultMap="tchPlanResultMap">
        SELECT a.`week`        AS `week`,
               a.`time`        AS `time`,
               c.`name`        AS `className`,
               a.`lesson_name` AS `lessonName`
        FROM `edu_lesson_class` c,
             `edu_lesson` l,
             `edu_lesson_class_attend` a
        WHERE c.`creator_id` = #{creatorId}
          AND c.`is_end_class` = 0
          AND c.`is_deleted` = 0
          AND c.`lesson_id` = l.`id`
          AND l.`is_deleted` = 0
          AND c.`id` = a.`lesson_class_id`
        ORDER BY a.`week`, a.`time`
    </select>
    <resultMap id="stuPlanResultMap" type="com.zhulang.waveedu.edu.query.EveryTImeStuPlanQuery">
        <result column="week" property="week"/>
        <result column="time" property="time"/>
        <collection property="planLessons" ofType="com.zhulang.waveedu.edu.query.EveryTImeStuPlanQuery$PlanLesson">
            <result column="tchName" property="tchName"/>
            <result column="lessonName" property="lessonName"/>
        </collection>
    </resultMap>
    <select id="selectStuPlan" resultMap="stuPlanResultMap">
        select a.`week`        AS `week`,
               a.`time`        AS `time`,
               a.`lesson_name` AS `lessonName`,
               i.`name`        as `tchName`
        from `edu_lesson_class_stu` s,
             `edu_lesson_class` c,
             `basic_user_info` i,
             `edu_lesson_class_attend` a,
             `edu_lesson` l
        where s.`stu_id` = #{stuId}
          and s.`lesson_class_id` = c.`id`
          and c.`is_deleted` = 0
          AND c.`is_end_class` = 0
          and c.`creator_id` = i.`id`
          and c.`id` = a.`lesson_class_id`
          and l.`id` = c.`lesson_id`
          and l.`is_deleted` = 0
        order by a.`week`, a.`time`
    </select>
</mapper>
