<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.LessonSectionFileMapper">

    <select id="selectSectionIdById" resultType="java.lang.Integer">
        SELECT section_id
        FROM `edu_lesson_section_file`
        WHERE id = #{id}
    </select>
    <select id="selectFileInfoBySectionIdAndType"
            resultType="com.zhulang.waveedu.edu.query.sectionquery.SectionFileInfoQuery">
        SELECT `id`, `file_name`, `file_path`, `file_format`, `file_format_size`
        FROM `edu_lesson_section_file`
        WHERE section_id = #{sectionId}
          AND `type` = #{type}
        ORDER BY `create_time`
    </select>
</mapper>
