<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.edu.dao.ProgramHomeworkProblemMapper">

    <select id="selectIsPublishByProblemIdAndCreatorId" resultType="java.lang.Integer">
        SELECT h.`is_publish`
        FROM `edu_program_homework_problem` p,
             `edu_lesson_class_program_homework` h
        WHERE p.`id` = #{problemId}
          AND p.`homework_id` = h.`id`
          AND h.`creator_id` = #{creatorId}
    </select>
    <select id="selectTchSimpleHomeworkProblemInfoList"
            resultType="com.zhulang.waveedu.edu.query.programhomeworkquery.TchSimpleHomeworkProblemInfoQuery">
        SELECT `id`, `title`, `difficulty`, `create_time`, `update_time`
        FROM `edu_program_homework_problem`
        WHERE `homework_id` = #{homeworkId}
    </select>
    <select id="selectHomeworkIdByProblemId" resultType="java.lang.Integer">
        SELECT `homework_id`
        FROM `edu_program_homework_problem`
        WHERE `id` = #{problemId}
    </select>
    <select id="selectStuHomeworkProblemDetailInfo"
            resultType="com.zhulang.waveedu.edu.query.programhomeworkquery.StuHomeworkProblemDetailInfoQuery">
        SELECT p.`id`,
               p.`title`,
               p.`time_limit`,
               p.`memory_limit`,
               p.`stack_limit`,
               p.`description`,
               p.`input`,
               p.`output`,
               p.`examples`,
               p.`difficulty`,
               p.`hint`,
               t.`language`,
               t.`code`
        FROM `edu_program_homework_problem` p LEFT JOIN
             (SELECT `problem_id`,`code`, `language`
              FROM `edu_program_homework_stu_judge`
              WHERE `stu_id` = #{stuId}
                AND `problem_id` = #{problemId}
              ORDER BY `create_time` DESC
              LIMIT 1) t
        ON p.`id` = t.`problem_id`
        WHERE p.`id` = #{problemId}
    </select>
</mapper>
