<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.messagesdk.dao.LessonClassProgramHomeworkMapper">

    <select id="existsByIdAndStartTimeAndIsPublish" resultType="java.lang.Integer">
        select 1
        from `edu_lesson_class_program_homework`
        where `id` = #{id}
          and `start_time` = #{startTime}
          and `is_publish` = #{isPublish}
    </select>
</mapper>
