<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.messagesdk.dao.LessonClassCommonHomeworkMapper">

    <select id="selectStuIdListById" resultType="java.lang.Long">
        SELECT s.`stu_id`
        FROM `edu_lesson_class_common_homework` h,
             `edu_lesson_class_stu` s
        WHERE h.`id` = #{id}
          AND h.lesson_class_id = s.`lesson_class_id`
    </select>
</mapper>
