<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhulang.waveedu.messagesdk.dao.ProgramHomeworkStuConditionMapper">

    <insert id="insertStuInfoList">
        INSERT INTO `edu_program_homework_stu_condition`(`homework_id`, `stu_id`)
        SELECT #{homeworkId}, `stu_id`
        FROM `edu_lesson_class_stu`
        WHERE `lesson_class_id` = #{classId}
    </insert>
</mapper>
