<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhulang.waveedu.chat.dao.EduLessonClassMapper">

    <select id="selectJoinClassInfoList" resultType="com.zhulang.waveedu.chat.query.ClassSimpleInfoQuery">
        SELECT c.`id`    AS `classId`,
               c.`name`  AS `className`,
               c.`cover` AS `classCover`
        FROM `edu_lesson_class_stu` s,
             `edu_lesson_class` c
        WHERE s.`stu_id` = #{stuId}
          AND s.`lesson_class_id` = c.`id`
    </select>
</mapper>